.card {
  background-color: var(--neut-white);
  overflow: hidden;

  height: 24.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.content {
  padding: 1.3em 1em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.imgContainer {
  overflow: hidden;
  width: 100%;
  height: 51%;

  /* border: 1px solid red; */
}

.img {
  width: 116%;
  height: auto;
}

.author {
  color: var(--neut-blue);
  font-size: 0.7rem;
}

.title {
  font-weight: 300;
  font-size: 1.1rem;
}

.titleLink:link,
.titleLink:visited {
  color: var(--prim-blue);
  text-decoration: none;
  transition: var(--transition);
}

.titleLink:hover {
  /*  */
  color: var(--prim-green);
  cursor: pointer;
}

.textPreview {
  color: var(--neut-blue);
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-align: left;
}
