.card {
  background-color: var(--neut-white);
  overflow: hidden;

  height: 24.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.content {
  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.imgContainer {
  overflow: hidden;
  width: 100%;
  height: 51%;
}

.img {
  width: 100%;
  height: 100%;
}

.author {
  color: var(--neut-blue);
  font-size: 0.7rem;
}

.title {
  font-weight: 300;
  font-size: 1.1rem;
}

.titleLink:link,
.titleLink:visited {
  color: var(--prim-blue);
  text-decoration: none;
  transition: var(--transition);
}

.titleLink:hover {
  /*  */
  color: var(--prim-green);
  cursor: pointer;
}

.textPreview {
  color: var(--neut-blue);
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-align: left;
}

@media (max-width: 640px) {
  .card {
    height: 26em;
  }

  .content {
    padding: 1rem 1.7rem 2.5rem 1.7rem;
    gap: 0.7em;
  }

  .textPreview {
    font-size: 0.82rem;
  }
}
