@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --font-body: "Lexend Deca", sans-serif;
  --font-heading: "Big Shoulders Display", cursive;
  --text--size: 0.938rem; /* 15px */

  --card-orange: hsl(31, 77%, 52%);
  --card-darkcyan: hsl(184, 100%, 22%);
  --card-v-darkcyan: hsl(179, 100%, 13%);

  --white-text: hsla(0, 0%, 100%, 0.75);
  --v-lightgray: hsl(0, 0%, 95%);
  --grey: rgba(128, 128, 128, 0.397);
  --radius: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--v-lightgray);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  height: 31.25em; /* 920px */
  width: 57.5em; /* 500px */
  margin-top: 2em;
  border-radius: var(--radius);

  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.grid__cell {
  padding: 3em;
}

.grid__cell--one {
  background-color: var(--card-orange);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.grid__cell--two {
  background-color: var(--card-darkcyan);
}

.grid__cell--three {
  background-color: var(--card-v-darkcyan);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.card {
  color: var(--white-text);
}

.card__icon {
  margin-bottom: 2em;
}

.card__title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8em;
  color: var(--white-text);
}

.card__description {
  font-size: var(--text--size);
  font-weight: 400;
  line-height: calc(var(--text--size) + 10px);
  text-align: start;
  margin-bottom: 4.45em;
}

.card__btn {
  padding: 1em 2em;
  border-radius: 60px;
  font-size: var(--text--size);
  font-family: var(--font-body);
  transition: all 0.1s ease-in-out;
}

.card__btn:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.card__btn--one {
  border: 1px solid var(--card-orange);
  color: var(--card-orange);
}

.card__btn--one:hover {
  background-color: var(--card-orange);
}

.card__btn--two {
  border: 1px solid var(--card-darkcyan);
  color: var(--card-darkcyan);
}

.card__btn--two:hover {
  background-color: var(--card-darkcyan);
}

.card__btn--three {
  border: 1px solid var(--card-v-darkcyan);
  color: var(--card-v-darkcyan);
}

.card__btn--three:hover {
  background-color: var(--card-v-darkcyan);
}

.footer {
  display: block;
  position: absolute;
  bottom: 5%;
  z-index: 1;
  font-size: 0.7rem;
}

.footer,
.footer__link {
  color: var(--grey);
  text-decoration: none;
  transition: color 0.15s ease;
}

.footer__link:hover {
  color: var(--card-orange);
  opacity: 0.7;
}

@media screen and (max-width: 568px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--v-lightgray); */
    background-color: #fff;
    height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    height: 30em;
    width: 20em;
    margin: 5em auto;
    border-radius: var(--radius);

    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
  }

  .grid__cell {
    padding: 3em;
  }

  .grid__cell--one {
    background-color: var(--card-orange);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: 0;
  }

  .grid__cell--three {
    background-color: var(--card-v-darkcyan);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: 0;
  }

  .card__icon {
    margin-bottom: 2em;
  }

  .card__title {
    margin-bottom: 0.5em;
  }

  .card__description {
    font-size: var(--text--size);
    font-weight: 400;
    line-height: calc(var(--text--size) + 10px);
    text-align: start;
    margin-bottom: 2em;
  }

  .card__btn {
    padding: 1em 2.3em;
    border-radius: 60px;
    font-size: var(--text--size);
    font-family: var(--font-body);
    transition: all 0.1s ease-in-out;
  }

  .footer {
    display: block;
    position: absolute;
    bottom: 2%;
    z-index: 1;
    font-size: 0.6rem;
  }
}
