@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --ff: "Poppins", Arial, Helvetica, sans-serif;
  --base-fs: 1rem; /* 16px */
  --bg-img-desktop: url(../../images/bg-intro-desktop.png);
  --bg-img-mobile: url(../../images/bg-intro-mobile.png);
  --color-primary: hsl(0, 100%, 74%);
  --color-secondary: hsl(154, 59%, 51%);
  --color-accent: hsl(248, 32%, 49%);
  --color-neutral-dark: hsl(249, 10%, 26%);
  --color-neutral-light: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile first */
body {
  font-family: var(--ff);

  background-color: var(--color-primary);
  background-image: var(--bg-img-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 3.5em 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #fff;
}

.info {
  text-align: center;
}

.info__title {
  font-size: calc(var(--base-fs) * 1.5);
  font-weight: 600;
  line-height: calc(var(--base-fs) * 1.9);
  padding: 0.7em 2em;
}

.info__description {
  font-size: var(--base-fs);
  font-weight: 400;
}

/* tablet, desktop */
@media (min-width: 600px) {
  body {
    background-image: var(--bg-img-desktop);
  }

  .container {
    flex-direction: row;
    padding: 10em;
  }
}
