*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  background: $bg-gradient;
  background-repeat: no-repeat;
  font-family: $ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
