@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Colors
$primary-text-blue: hsl(238, 29%, 16%);
$primary-text-red: hsl(14, 88%, 65%);
$neutral-text-dark-blue: hsl(237, 12%, 33%);
$neutral-text-grayish-blue: hsl(240, 6%, 50%);
$dividers-light-blue: hsl(240, 5%, 91%);
$bg-gradient: linear-gradient(
  to bottom,
  hsl(273, 75%, 66%),
  hsl(240, 73%, 65%)
);

// Font
$fs-base: 0.75rem; // 12px
$ff: "Kumbh Sans", Arial, Helvetica, sans-serif;

// Layout
$radius: 1.375rem; // 22px

$test: 1px solid red;
