@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* -- */
  --c-bg: hsl(218, 23%, 16%);
  --c-bg-card: hsl(217, 19%, 24%);
  --c-primary: hsl(193, 38%, 86%);
  --c-secondary: hsl(150, 100%, 66%);
  --c-tertiary: hsl(217, 19%, 38%);

  --ff: "Manrope", sans-serif;
  --fs-base: 1.75rem; /* 28px */

  --divider-mobile: url(/images/pattern-divider-mobile.svg);
  --divider-dekstop: url(/images/pattern-divider-desktop.svg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
  font-family: var(--ff);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.card {
  background-color: var(--c-bg-card);
  border-radius: 10px;

  height: 85vmin;
  width: 92vmin;
  min-height: 85vmin;
  min-width: 92vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 2em;
}

.sr-only {
  position: absolute;
  left: -1000px;
}

.card__title {
  color: var(--c-secondary);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: calc(var(--fs-base) / 3);
}

/* .card__number{} */

.card__advice {
  border: 1px dashed red;
  width: 100%;
}

.card__divider {
  display: block;
  width: 100%;
  height: 20px;

  background-image: var(--divider-mobile);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.attribution {
  color: var(--c-tertiary);
  font-size: calc(var(--fs-base) / 2.3);
  text-align: center;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.attribution a:link,
.attribution a:visited {
  color: var(--c-tertiary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.attribution a:hover {
  color: var(--c-secondary);
}

@media screen (min-width: 600px) {
  .attribution {
    bottom: 30%;
  }
}
