@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* -- */
  --c-bg: hsl(218, 23%, 16%);
  --c-bg-card: hsl(217, 19%, 24%);
  --c-primary: hsl(193, 38%, 86%);
  --c-secondary: hsl(150, 100%, 66%);
  --c-tertiary: hsl(217, 19%, 38%);
  --c-btn-hover: hsla(150, 100%, 66%, 0.405);

  --ff: "Manrope", sans-serif;
  --fs-base: 1.75rem; /* 28px */

  --divider-mobile: url(.././images/pattern-divider-mobile.svg);
  --divider-dekstop: url(.././images/pattern-divider-desktop.svg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
  font-family: var(--ff);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.card {
  background-color: var(--c-bg-card);
  border-radius: 10px;

  height: 85vmin;
  width: 92vmin;
  min-height: 85vmin;
  min-width: 92vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  z-index: 1;

  padding: 3em 2em;
}

.sr-only {
  position: absolute;
  left: -1000px;
}

.card__title {
  color: var(--c-secondary);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: calc(var(--fs-base) / 2.5);
  font-weight: 800;

  padding: 1em;
  position: absolute;
  top: 9%;
}

/* .card__number{} */

.card__advice {
  width: 100%;
  padding: 1em 0;

  color: var(--c-primary);
  text-align: center;
  font-weight: 700;
  font-size: calc(var(--fs-base) * 0.8);
}

.card__divider {
  display: block;
  width: 100%;
  height: 20px;

  background-image: var(--divider-mobile);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__btn {
  padding: 1.5em;
  border-radius: 50%;
  border: none;

  position: absolute;
  bottom: -10%;
  z-index: 2;
  background-color: var(--c-secondary);
  transition: 0.2s ease-in-out;
}

.card__btn > img {
  vertical-align: middle;
}

.card__btn:hover {
  box-shadow: 0 0 20px 10px var(--c-btn-hover);
  cursor: pointer;
}

.attribution {
  color: var(--c-tertiary);
  font-size: calc(var(--fs-base) / 2.3);
  text-align: center;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.attribution a:link,
.attribution a:visited {
  color: var(--c-tertiary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.attribution a:hover {
  color: var(--c-secondary);
}

@media (min-width: 600px) {
  .card {
    height: 40vmin;
    width: 65vmin;
    min-height: 40vmin;
    min-width: 65vmin;
  }

  .card__advice {
    font-size: var(--fs-base);
  }

  button {
    transition: all 0.2s ease-in-out;
  }

  .card__divider {
    background-image: var(--divider-dekstop);
  }

  .attribution {
    bottom: 20%;
  }
}
