* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Outfit", sans-serif;
  --text-para: 1.125rem;

  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --neutral-main-bg: hsl(217, 54%, 11%);
  --neutral-card-bg: hsl(216, 50%, 16%);
  --neutral-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --border-radius: 8px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: var(--primary-cyan);
}

hr {
  height: 0.5px;
  background-color: var(--neutral-line);
  border: none;
}

.main-container {
  background-color: var(--neutral-main-bg);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nft-card {
  background-color: var(--neutral-card-bg);
  border-radius: var(--border-radius);
  padding: 1.2em;
  max-width: 21em;
  max-height: 40em;
  box-shadow: 0em 0.9em 0.7em 0.7em rgba(15, 11, 41, 0.308); /* h-offset v-offset blur spread color */
}

.img-container {
  margin: 0 auto;
  border-radius: var(--border-radius);
  position: relative;
  width: 100%;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.img-container .overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;
  opacity: 0;

  transition: 0.15s ease-in-out;
  background-color: var(--primary-cyan);
  border-radius: var(--border-radius);
}

.img-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

img.icon-view {
  width: 20%;
  height: auto;
  color: white;
  position: absolute;
}

.nft-description {
  margin: 1.5em auto;
}

.nft-description h3 {
  color: var(--white);
  font-weight: 600;
}

.nft-description p {
  color: var(--primary-soft-blue);
  font-size: var(--text-para);
  font-weight: 300;
  margin: 1em auto;
}

.nft-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.info-aligned {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.price img {
  align-self: center;
}

.price span {
  color: var(--primary-cyan);
  font-weight: 600;
}

.date span {
  color: var(--primary-soft-blue);
  font-weight: 400;
}

.author-container {
  margin: 1em auto 0.7em auto;
  display: flex;
  align-items: center;
}

.author-container img {
  width: 12%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.author-container span {
  color: var(--primary-soft-blue);
  padding-left: 0.8em;
  font-weight: 300;
}

footer {
  justify-self: flex-end;
  font-size: 0.72rem;
  color: var(--neutral-line);
  margin-top: 2em;
}

footer a:link,
footer a:visited {
  color: var(--neutral-line);
  font-weight: 600;
}
