.about {
  // border: 1px solid red;

  h2 {
    margin-bottom: 1.3125rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 4.25rem;

    p {
      @include breakpoint-up(lg) {
        padding-left: 8rem;
        padding-right: 8rem;

        font-size: 1.125rem; // 18px
        font-weight: 400;
        letter-spacing: 0.0075em;
        line-height: 1.875rem; // 30px
      }

      @include breakpoint-up(xl) {
        padding-left: 21rem;
        padding-right: 21rem;
      }
    }
  }

  .container {
    height: 100%;

    @include breakpoint-up(lg) {
      display: flex;
      align-items: center;
      gap: 5rem;
    }

    @include breakpoint-up(xl) {
      gap: 6.8125rem;
    }
  }

  &__image {
    width: 100%;
    min-height: 15.25rem;
    margin-bottom: 3.6875rem;

    background-image: url("../../assets/images/image-computer.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: top center;

    @include breakpoint-up(md) {
      min-height: 28rem;
    }

    @include breakpoint-up(lg) {
      height: 35.875rem;
      margin-bottom: 0rem;
      background-image: none;
    }

    &::after {
      @include breakpoint-up(lg) {
        content: "";
        position: absolute;
        left: -4%;

        width: 50%;
        height: 100%;
        max-height: 35.875rem;

        background-image: url("../../assets/images/image-computer.png");
        background-size: 47rem;
        background-repeat: no-repeat;
        background-position: center right;
      }

      @include breakpoint-up(xl) {
        left: -3.75%;
      }
    }
  }

  &__features {
    // border: 1px solid red;
    width: 100%;

    ul {
      list-style: none;
      gap: 58px;

      @include breakpoint-up(lg) {
        gap: 4.0625rem; // 65px
      }

      li {
        text-align: center;

        @include breakpoint-up(lg) {
          text-align: left;
        }

        h3 {
          @include breakpoint-up(lg) {
            margin-bottom: 21px;
          }
        }

        p {
          @include breakpoint-up(lg) {
            padding-right: 4.5rem;
          }

          @include breakpoint-up(xl) {
            padding-right: 17.1rem;
          }
        }
      }
    }
  }
}
