.preview {
  // border: 1px solid pink;

  @include breakpoint-up(xl) {
    padding-bottom: 2.875rem; // 46px
  }

  &__text {
    text-align: center;
    margin-bottom: 3.875rem;

    h2 {
      margin-bottom: 1.375rem;
    }

    p {
      @include breakpoint-up(lg) {
        padding-left: 8rem;
        padding-right: 8rem;

        font-size: 1.125rem; // 18px
        font-weight: 400;
        letter-spacing: 0.0075em;
        line-height: 1.875rem; // 30px
      }

      @include breakpoint-up(xl) {
        padding-left: 21rem;
        padding-right: 21rem;
      }
    }
  }

  &__image {
    // border: 0.5px solid red;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    height: 15rem;
    width: 22.5rem;

    background-image: url("../../assets/images/image-devices.png");
    background-repeat: no-repeat;
    background-size: 96%;
    background-position: top left 0.7rem;

    @include breakpoint-up(md) {
      height: 22rem;
      width: 100%;
      background-size: contain;
      background-position: top center;
    }

    @include breakpoint-up(lg) {
      width: 57.5rem; // 920px
      height: 35rem;
    }

    @include breakpoint-up(xl) {
      width: 100%;
      height: 38rem;
      max-width: 68%;
      background-size: 100%;
    }
  }
}
