.services {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5.375rem; // 87px

  ul {
    list-style: none;
  }

  &__text {
    margin-bottom: 5.62rem; // 83.2px

    @include breakpoint-up(xl) {
      margin-bottom: 4.3125rem; // 69px
    }

    h2 {
      margin-bottom: 0.9rem;
    }
  }

  // List of services
  &__list {
    margin-bottom: 8.1875rem; // 131px

    @include breakpoint-up(xl) {
      margin: 0 auto 9.625rem auto; // 154px
    }

    ul {
      gap: 3.375rem; // 54px;

      @include breakpoint-up(lg) {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      @include breakpoint-up(xl) {
        width: 70.0625rem; // 1121px
        height: 13.75rem; // 220px
      }

      li {
        @include breakpoint-up(lg) {
          width: calc(100% / 3);
        }
      }

      li:nth-child(1) {
        @include breakpoint-up(xl) {
          width: 21rem; // 336px
        }
      }

      li:nth-child(2) {
        @include breakpoint-up(xl) {
          width: 21.1875rem; // 339px
        }
      }

      li:nth-child(3) {
        @include breakpoint-up(xl) {
          width: 21.1875rem; // 339px
        }
      }

      h3 {
        margin-bottom: 1.1rem; // 17.6px

        @include breakpoint-up(xl) {
          margin-bottom: 1.375rem; // 22px
        }
      }

      img {
        height: 2.8125rem; // 45px
        width: auto;
        margin-bottom: 2.15rem; // 34.4px
        // line-height: 2.8125rem; // 45px

        @include breakpoint-up(lg) {
          margin-bottom: 2.3125rem; // 37px
        }
      }
    }
  }

  // List of sponsors
  &__sponsors {
    margin: 0 auto;

    ul {
      height: 27.6875rem; // 443px
      width: 9rem; // 144px

      @include breakpoint-up(xl) {
        flex-direction: row;

        width: 10.0625rem; // 1121px
        height: 3.6875rem; // 59px
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      li {
        @include breakpoint-up(xl) {
          height: 3.6875rem; // 59px
          width: auto;
        }
      }

      li:nth-child(2) {
        height: 2.875rem; // 46px
        width: 7.4375rem; // 119px
      }

      li:nth-child(3) {
        height: 2rem; // 32px
        width: 8.6875rem; // 139px
      }

      li:nth-child(4) {
        height: 3.125rem; // 50px
        width: 7.3125rem; // 117px
      }

      li:nth-child(5) {
        height: 1.875rem; // 30px
        width: 6.8125rem; // 109px
      }
    }
  }
}
