html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $BaiJamjuree;
  color: $grayishBlue;
  font-weight: 400;
  background-color: $white;
}

h1,
h2 {
  color: $darkGrayishBlue;
}

h1 {
  font-size: $font-xxl;
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-weight: 600;

  @include breakpoint-up(lg) {
    font-size: 3rem;
    letter-spacing: -3.7%;
  }
}

h2 {
  font-size: $font-xl;
  letter-spacing: -0.025em;
}

p {
  font-size: $font-sm;
  line-height: 26px;
  letter-spacing: 0.01em;

  // @include breakpoint-up(lg) {
  //   font-size: $font-lg;
  //   // letter-spacing: -1.5%;
  // }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-center {
    justify-content: center;
  }

  &-ai-center {
    align-items: center;
  }

  &-col {
    flex-direction: column;
  }
}

// Spacing
.container {
  &--px {
    padding-left: 1.65rem; // 26.4px
    padding-right: 1.65rem; // 26.4px
  }

  &--py {
    padding-top: 5.25rem; // 84px
    padding-bottom: 5.25rem; // 84px

    @include breakpoint-up(lg) {
      padding-top: 4.9375rem; // 79px
      padding-bottom: 4.9375rem; // 79px
    }
  }
}
