html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $BaiJamjuree;
  color: $grayishBlue;
  font-weight: 400;
  background-color: $white;
}

h1 {
  color: $darkGrayishBlue;
  font-size: $font-h1;
  line-height: 1.2;
  font-weight: 600;

  @include breakpoint-up(lg) {
    font-size: 3rem;
    letter-spacing: -3.7%;
  }
}

p {
  font-size: $font-sm;
  line-height: 26px;

  @include breakpoint-up(lg) {
    font-size: $font-lg;
    letter-spacing: -1.5%;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-center {
    justify-content: center;
  }

  &-ai-center {
    align-items: center;
  }

  &-col {
    flex-direction: column;
  }
}

.section-p {
  padding: 5.125rem 2.1rem;

  @include breakpoint-up(lg) {
    padding: 0 23.4375rem;
  }
}
