.navlinks {
  // display: none;
  width: 100%;
  padding: 2.625rem 1.5rem 2.5rem 1.5rem; // 42px 24px 40px 24px

  display: flex;
  flex-direction: column;
  gap: 32px;

  background: $darkViolet;
  border-radius: 13px;
  transition: opacity 0.25s ease-in-out;

  @include lg {
    // border: 1px solid blue;

    // width: 69.4375rem; // 1111px
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

    background-color: #fff;
    border-radius: revert;
  }

  hr {
    opacity: 0.25;

    @include lg {
      display: none;
    }
  }

  ul {
    list-style: none;
    text-align: center;

    //   For Login & Sign up
    &:last-child {
      li:not(:last-child) {
        margin-bottom: 26px;

        @include lg {
          margin-bottom: 0;
        }
      }
    }

    @include lg {
      display: flex;
      align-items: center;
      gap: 31px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 30px;

        @include lg {
          margin-bottom: 0;
        }
      }

      a:link,
      a:visited {
        text-decoration: none;
        color: #fff;

        @include lg {
          color: $grayishViolet;
          transition: color 0.25s ease-in-out;
        }
      }

      a:hover {
        cursor: pointer;
        color: $veryDarkViolet;
      }

      button {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.01em;

        width: 100%;
        height: 48px;
        margin: auto;
        background-color: $cyan;
        border-radius: 24.5px;
        border: none;

        @include lg {
          width: 105px;
          height: 40px;
          font-size: 16px;
          line-height: 40px;
          letter-spacing: -0.025em;
          border-radius: 19px;
          transition: box-shadow 0.35s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          box-shadow: inset 0px 50px rgba(255, 255, 255, 0.365);
        }
      }
    }
  }
}
