@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// Variables
$mobile: 375px;
$desktop: 1440px;

$headings-ff: "Raleway", sans-serif; // 400, 700
$body-ff: "Open Sans", sans-serif; // 400

$prim--v-drk-blue: hsl(243, 87%, 12%);
$prim--desat-blue: hsl(238, 22%, 44%);
$accent--br-blue: hsl(224, 93%, 58%);
$accent--br-blue-hover: hsl(224, 89%, 64%);
$accent--mod-cyan: hsl(170, 45%, 43%);
$neut--lght-g-blue: hsl(240, 75%, 98%);
$net--lght-gray: hsl(0, 0%, 75%);

$bg-desktop-curve: url(../images/bg-curve-desktop.svg);
$bg-mobile-curve: url(../images/bg-curve-desktop.svg);

$test: 1px dashed red;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 0 5em;

  &__logo {
    height: 30%;
    width: auto;

    img {
      height: 100%;
    }
  }

  &__nav {
    width: 22%;
    font-family: $body-ff;
    font-size: 1.2rem;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;

      .item {
        &__link {
          text-decoration: none;
          color: $prim--desat-blue;
        }
      }
    }
  }
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0 5em;

  &__left {
    text-align: left;
    width: 50%;
    padding-right: 3.5em;
    position: relative;
    top: -5%;
    color: $prim--v-drk-blue;

    .title {
      font-family: $headings-ff;
      font-size: 2.7rem;
      line-height: 4rem;
      padding-bottom: 0.4em;
    }

    .para {
      font-family: $body-ff;
      font-size: 1.2rem;
      padding-bottom: 1.5em;
    }

    .form {
      // border: $test;
      width: 100%;
      height: 3.2em;

      &__email,
      &__btn {
        height: 100%;
      }

      &__email {
        width: 55%;

        border: 1px solid $prim--desat-blue;
        border-radius: 3px;
        padding: 1em;
        margin-right: 1em;
        font-family: $body-ff;

        &::placeholder {
          color: $net--lght-gray;
          font-size: 1rem;
        }
      }

      &__btn {
        width: 32%;
        background-color: $accent--br-blue;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 1rem;
        transition: background 0.15s ease-in-out;

        &:hover {
          background: $accent--br-blue-hover;
          cursor: pointer;
        }
      }
    }
  }

  &__right {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.midway {
  border: $test;
  padding: 0 5em;

  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  background: {
    image: $bg-desktop-curve;
    repeat: no-repeat;
    size: 300% 100%;
    position: top;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
