@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// Variables
$mobile: 375px;
$desktop: 1440px;

$headings-ff: "Raleway", sans-serif; // 400, 700
$body-ff: "Open Sans", sans-serif; // 400

$prim--v-drk-blue: hsl(243, 87%, 12%);
$prim--desat-blue: hsl(238, 22%, 44%);
$accent--br-blue: hsl(224, 93%, 58%);
$accent--mod-cyan: hsl(170, 45%, 43%);
$neut--lght-g-blue: hsl(240, 75%, 98%);
$net--lght-gray: hsl(0, 0%, 75%);

$bg-desktop-curve: url(../images/bg-curve-desktop.svg);
$bg-mobile-curve: url(../images/bg-curve-desktop.svg);

$test: 1px dashed red;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 0 5em;

  &__logo {
    height: 30%;
    width: auto;

    img {
      height: 100%;
    }
  }

  &__nav {
    width: 22%;
    font-family: $body-ff;
    font-size: 1.2rem;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;

      .item {
        &__link {
          text-decoration: none;
          color: $prim--desat-blue;
        }
      }
    }
  }
}
