.icon__container {
  display: block;
  height: fit-content;
  width: auto;
}

.iconClose {
  margin-top: 0.2rem;
}

.nav {
  width: 100%;
  min-height: calc(100vh - var(--nav-h-sm));
  height: 100%;

  /*padding: 1.375rem var(--px-sm) 7rem var(--px-sm); /* the 5rem adds more bottom padding to surpass the mobile search engine */
  padding: 1.375rem var(--px-sm);

  position: absolute;
  top: var(--nav-h-sm);
  left: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to bottom, var(--prim-blue), transparent);
}

@media (min-width: 768px) {
  .nav {
    min-height: calc(100vh - var(--nav-h-md));
    height: 100%;
    padding: 1.375rem var(--px-md);
    top: var(--nav-h-lg);
  }
}

@media (min-width: 1024px) {
  .icon__container {
    display: none;
  }
}
