.header {
  display: block;
  background-color: var(--neut-white);
  height: var(--nav-h-sm);
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__container {
  height: 100%;
  width: 100%;
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 0 var(--px-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: fit-content;
  width: auto;
}

.logo__link:hover {
  cursor: pointer;
}

.nav {
  display: none;
}

.btn {
  display: none;
}

@media (min-width: 768px) {
  .header {
    height: var(--nav-h-lg);
  }

  .header__container {
    padding: 0 var(--px-md);
  }
}

@media (min-width: 1024px) {
  .nav {
    display: block;
    width: 20.5rem;
    height: 100%;
  }

  .btn {
    display: block;
  }
}
