.header {
  border-bottom: var(--bt);

  display: block;
  background-color: var(--neut-white);
  height: var(--nav-h-sm);
  width: 100%;
}

.header__container {
  height: 100%;
  width: 100%;
  max-width: var(--max-w-lg);
  padding: 0 var(--px-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: fit-content;
  width: auto;
}

.logo__link {
}

@media (min-width: 768px) {
  .header {
    height: var(--nav-h-lg);
  }
}
