.nav {
  display: none;

  background-color: var(--neut-white);
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .nav {
    display: block;
    height: var(--nav-h-lg);
    max-width: 22rem;
    min-width: 22rem;
    width: 100%;
  }
}
