.header {
  height: 4em;
  width: 100vw;
  display: flex;
  justify-content: center;

  background-color: var(--c-neut-white);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__content {
  width: 100%;
  max-width: var(--max-w-desktop);
  min-width: var(--min-w-desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-neut-white);
}

.nav {
  display: flex;
  align-items: center;
}

.header__nav ul,
.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  height: 4em;
}

.nav__item {
  height: 4em;
  line-height: 4em;
}

.nav__link {
  text-decoration: none;
  color: var(--c-neut-blue);
  font-size: 0.95rem;

  padding: 1.2em 0;
  transition: 0.1s linear;
}

.nav__link:hover {
  color: var(--c-prim-blue);
  border-bottom: 5px solid var(--c-prim-green);
}

.header__btn {
  width: fit-content;
  height: fit-content;
}

.mobileNav {
  display: none;
}

/* .header__btn-mobile {
  display: none;
} */

@media (max-width: 920px) {
  .header__content {
    padding: 0 1.2em;
    max-width: 920px;
    min-width: auto;
  }

  .header__btn {
    display: none;
  }

  .nav {
    display: none;
  }

  .nav__ul {
    /* border: 1px solid red; */
    list-style: none;
    background: white;
    border-radius: 5px;
    padding: 1.3em 0;
    width: 92%;
    height: auto;

    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%) !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
  }

  .nav__item {
    height: 2em;
    line-height: 2em;
  }

  .nav__link {
    color: var(--c-prim-blue);
    font-size: 18px;
  }

  .nav__link:hover {
    border-bottom: none;
    color: var(--c-neut-blue);
  }

  .mobileNav {
    display: block;
  }

  .mobileNav__open {
    display: block;
    height: calc(100vh - 4em);
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(35, 31, 48, 0.589),
      transparent
    );
    position: absolute;
    top: 4em;
    left: 0;
    z-index: -1 !important;
  }

  .mobile .header__btn-mobile {
    display: block;
    height: fit-content;
    width: fit-content;
  }

  .header__btn-mobile > *:hover {
    cursor: pointer;
  }
}
