.hero {
  width: 100%;
  padding-top: 5.9375rem; // 95px
  margin-bottom: 10.4375rem; // 167px
  margin-left: auto;
  margin-right: auto;
  background: #fff;

  @include md {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7.5rem; // 120px

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @include lg {
    margin: 0 auto 13.4375rem auto; // mb-215px
    padding-top: 12rem;
  }

  @include xl {
    max-width: 69.4375rem; // 1111px
    padding-top: 14.5625rem; // 133px | 233px
  }

  &__illustration {
    width: 100%;
    height: 21.5rem; // 344px

    margin-bottom: 2.25rem; // 36px

    background-image: url("../../../assets/images/illustration-working.svg");
    // background-size: 137.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -15%;

    // @media (min-width: 500px) {
    //   border: 1px dashed blue;
    //   background-size: contain;
    //   background-position: right;
    // }

    @include md {
      order: 2;
      flex: 1;

      position: relative;
    }

    @include lg {
      margin-bottom: 0;
      background-image: none;
    }

    &::before {
      @include lg {
        // overflow-x: hidden;
        // border: 2px dashed rgb(226, 30, 180);

        content: "";
        height: 142.11%;
        width: 133.18%;

        position: absolute;
        top: -22%;
        left: 1%;

        background-image: url("../../../assets/images/illustration-working.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        background-position-x: 6.5rem;
        // background-position: -120% 83%;
      }

      @include xl {
        height: 142.11%;
        width: 133.18%;

        top: -5rem;
        left: 0.75%;
      }
    }
  }

  &__description {
    // border: 1px solid red;

    text-align: center;
    height: 17.9375rem; // 287px
    // margin-bottom: 166px; // 166px
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include md {
      // border: 1px solid red;
      order: 1;
      flex: 1.2;

      height: auto;

      align-items: flex-start;
      gap: 0.25vmin;
      text-align: left;
    }

    @include lg {
      // border: 1px solid orange;
      flex: 1.34;
      padding-right: 0;
      padding-left: 1.4375rem;
    }

    h2 {
      color: $veryDarkBlue;
    }

    p {
      color: $gray;
      //   color: $grayishViolet;
    }

    button {
      height: 57px;
      width: 197px;

      background-color: $cyan;
      border-radius: 28.5px;
      border: none;

      color: #fff;
      font-family: $poppins;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.01em;

      @include md {
        margin-top: 2rem;
      }
    }
  }
}
