.container {
  display: block;
  height: calc(41.875rem + var(--nav-h-sm)); /* 670px | 41.875rem */
  width: 100%;

  background-color: var(--neut-lightgray);
}

.content {
  height: 100%;
  width: 100%;
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: var(--nav-h-sm) var(--px-sm) 5.375rem var(--px-sm);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header .title {
  font-size: 2rem;
  line-height: 2.45rem;
  color: var(--prim-blue);
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
}

.text {
  color: var(--neut-blue);
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.5rem;
  text-align: center;
}

.illustration {
  width: 95%;
  height: auto;
  position: absolute;
  top: -9.5%;
  left: 50%;
  transform: translateX(-50%);
}
