.container {
  display: block;
  height: calc(41.875rem + var(--nav-h-sm)); /* 670px | 41.875rem */
  width: 100%;
  background-color: var(--neut-lightgray);

  background-image: url(../../assets/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
  background-position: top 0.5rem center;
}

.content {
  height: 100%;
  width: 100%;
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: var(--nav-h-sm) var(--px-sm) 5.375rem var(--px-sm);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header .title {
  font-size: 2rem;
  line-height: 2.45rem;
  color: var(--prim-blue);
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
}

.text {
  color: var(--neut-blue);
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.5rem;
  text-align: center;
}

.illustration {
  width: 95%;
  height: auto;
  position: absolute;
  top: -9.5%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .container {
    height: 100vh;

    background-size: cover;
    background-position: top -15.7rem center;
  }

  .content {
    padding: var(--nav-h-md) var(--px-md) 5.375rem var(--px-md);
  }

  .illustration {
    width: 50%;
    top: 11%;
  }
}
