*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Red Hat Display", sans-serif;
  --para-font-size: 1rem; /* 16px */

  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturate-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --hover-color: rgba(119, 108, 240, 255);

  --bg-img-desktop: url("/images/pattern-background-desktop.svg");
  --bg-img-mobile: url("/images/pattern-background-mobile.svg");
  --bg-repeat: no-repeat;
  --bg-size: contain;
  --border-radius: 15px;
  --shadow-box: 0 5px 60px 0.5px rgba(0, 0, 0, 0.144); /*h-offset v-offset blur spread color */
}

body {
  background-color: var(--primary-pale-blue);
  background-image: var(--bg-img-desktop);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
}

.main-container {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.order-card-container {
  max-width: 28em;
  max-height: 44em;
  /* min-width: 28.375em; */
  /* min-height: 43.625em; */

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
}

header {
  width: 28em;
  border-radius: var(--border-radius);
}

header img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

summary {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 3em;
  text-align: center;
}

summary h1 {
  margin-top: 1.25em;
}

summary .description {
  margin-top: 0.7em;
  padding: 0 1.8em;
  line-height: 1.7rem;
}

summary h1,
.order-card-summary-annual-plan span h4 {
  color: var(--neutral-dark-blue);
  font-weight: 900;
}

summary p,
.order-card-summary-annual-plan span p {
  color: var(--neutral-desaturate-blue);
  text-align: center;
}

.order-card-summary-annual-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;

  background-color: var(--neutral-very-pale-blue);
  border-radius: var(--border-radius);

  margin-top: 1em;
  padding: 0 2em;
}

/* .order-card-summary-annual-plan span h4 {} */
/* .order-card-summary-annual-plan span p {} */

.order-card-summary-annual-plan a:link,
.order-card-summary-annual-plan a:visited {
  text-decoration: underline;
  font-weight: 700;
  color: var(--primary-bright-blue);
  transition: all 0.15s ease-in-out;
}

.order-card-summary-annual-plan a:hover {
  cursor: ponter;
  text-decoration: none;
  color: var(--hover-color);
}

button {
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--primary-bright-blue);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.24);

  padding: 1.1em;
  margin-top: 2.3em;
  /* margin-bottom: 2em; */
  transition: all 0.15s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.cancel-link:link,
.cancel-link:visited {
  text-decoration: none;
  color: var(--neutral-desaturate-blue);
  font-weight: 900;
  font-size: 0.9rem;
  margin: 2.5em;

  transition: color 0.15s ease-in-out;
}

.cancel-link:hover {
  cursor: pointer;
  color: var(--neutral-dark-blue);
}

/* 
    Mobile: 375px
*/
@media screen and (max-width: 375px) {
  body {
    background-image: var(--bg-img-mobile);
  }
}
