*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Red Hat Display", sans-serif;
  --para-font-size: 1rem; /* 16px */

  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturate-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);

  --bg-img-desktop: url("/images/pattern-background-desktop.svg");
  --bg-img-mobile: url("/images/pattern-background-mobile.svg");
  --bg-repeat: no-repeat;
  --bg-size: contain;
  --border-radius: 15px;
  --shadow-box: 0 5px 60px 0.5px rgba(0, 0, 0, 0.144); /*h-offset v-offset blur spread color */
}

body {
  background-color: var(--primary-pale-blue);
  background-image: var(--bg-img-desktop);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
}

.main-container {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.order-card-container {
  max-width: 454px;
  max-height: 698px;
  min-width: 454px;
  min-height: 698px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--neutral-very-pale-blue);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
}

header {
  width: 454.05px;
  border-radius: var(--border-radius);
}

header img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

/* 
    Mobile: 375px
*/
@media screen and (max-width: 375px) {
  body {
    background-image: var(--bg-img-mobile);
  }
}
