button {
  height: 2.7em;
  padding: 0 2em;
  background: var(--theme-gradient);

  font-family: var(--ff);
  font-weight: 700;
  font-size: var(--base-fs);
  line-height: 2.7em;
  color: var(--c-neut-white);

  border: none;
  border-radius: 50px;

  transition: 0.2s linear;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 920px) {
  button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}
