.container {
  padding-top: 5em;
  height: 80vh;
  width: 100%;

  background: var(--neut-lightgray);
  background-image: var(--bg-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: top -20em left 38em;

  position: relative;
  position: 900;
}

.content {
  width: 100%;
  height: 100%;
  max-width: var(--max-w);
  margin: auto;

  display: grid;
  grid-template-columns: minmax(100px, 0.78fr) 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: center;
  /* border: 2px solid yellow; */
}

.information {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.heading {
  font-size: 3.5rem;
  line-height: 4.2rem;
  color: var(--prim-blue);
  font-weight: 300;
}

.text {
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: var(--neut-blue);
}

.themeBtn {
  height: fit-content;
  width: fit-content;
}

.img {
  position: absolute;
  top: -5%;
  right: -9%;
  z-index: 910;
}

@media (max-width: 1280px) {
  .container {
    background-position: top -16em left 32em;
  }

  .img {
    width: 60%;
    height: auto;
    top: -4.5%;
    right: -8.2%;
  }
}

@media (max-width: 1024px) {
  .container {
    background-position: top -12em left 27em;
  }

  .content {
    padding: var(--px-lg);
  }

  .img {
    width: 65%;
    height: auto;
    top: -2.3%;
    right: -11%;
  }
}

@media (max-width: 768px) {
  .container {
    background-image: var(--bg-mobile);
    background-position: center top;
  }
}
