.card {
  height: 21em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.cardImg {
  width: 75px;
  height: 75px;
}

.cardTitle {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--prim-blue);
}

.cardText {
  color: var(--neut-blue);
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.55rem;
}

@media (max-width: 768px) {
  .card {
    height: 18em;
  }
}

@media (max-width: 640px) {
  .card {
    height: 100%;
    align-items: center;
    gap: 1.5em;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .cardText {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
