.container {
  height: 80vh;
  width: 100%;
  background-color: var(--neut-grayblue);
}

.content {
  /* border: 1px solid red; */
  max-width: var(--max-w);
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 6.5em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  /* border: 1px solid blue; */
}

.title {
  font-size: 2.5rem;
  color: var(--prim-blue);
  font-weight: 300;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: var(--neut-blue);
}

.information {
  height: 21em;
  /* border: 1px dashed yellowgreen; */
  /* padding: 1em; */
}

.ul {
  border: 1px dashed yellowgreen;

  list-style: none;

  /* display: flex;
  justify-content: space-between;
  gap: 1em; */

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
}

@media (max-width: 1024px) {
  .content {
    padding: 6.5em 1em;
  }
}
