.MobileNav {
  display: block;
}

.MobileNav__btn {
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MobileNav__themeBtn {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .MobileNav {
    display: none;
  }
}
