.header {
  background-color: var(--neut-white);
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__content {
  width: 100%;
  max-width: var(--max-w);
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--neut-white);
}

.header__logo {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo a {
  cursor: pointer;
}

.header__btn {
  display: block;
}

@media (max-width: 1024px) {
  .header__content {
    padding: var(--px-lg);
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    height: 4em;
  }
}
