@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19a2ae;
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-position: left -318px top -530px, right -237px bottom -575px;
  background-repeat: no-repeat;
  background-size: auto;
}
.container .card {
  width: 330px;
  height: 370px;
  border-radius: 15px;
  background-color: #fff;
}
.container .card__pattern {
  background-image: url(/images/bg-pattern-card.svg);
  width: auto;
  height: 8em;
  position: relative;
  z-index: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container .card .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 13%;
  z-index: 1;
  gap: 0.7em;
}
.container .card .profile__img {
  border-radius: 100%;
  border: 5px solid #fff;
}
.container .card .profile__name, .container .card .profile__value > h2 {
  font-size: 18px;
  color: #2d3248;
}
.container .card .profile__age, .container .card .profile__location, .container .card .profile__value > p {
  color: #969696;
}
.container .card .profile__stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding: 1.7em;
  border-top: 0.7px solid lightgrey;
  width: 100%;
}