@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Variables (according to style-guide)
// --font
$ff-primary: "Kumbh Sans", sans-serif;
$font-size: 18px;
$reg: 400;
$bold: 700;

// --colors
$drk-cyan: hsl(185, 75%, 39%);
$drk-desat-blue: hsl(229, 23%, 23%);
$drk-gray-blue: hsl(227, 10%, 46%);
$drk-gray: hsl(0, 0%, 59%);

// --layout
$mobile: 375px;
$desktop: 1440px;

// --imgs
$bg-desktop-bottom: url(/images/bg-pattern-bottom.svg);
$bg-desktop-top: url(/images/bg-pattern-top.svg);
$bg-card: url(/images/bg-pattern-card.svg);

$radius: 15px;
// $shadow: ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-primary;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $drk-cyan;
  background-image: $bg-desktop-top, $bg-desktop-bottom;
  background-position: left -318px top -530px, right -237px bottom -575px;
  background-repeat: no-repeat;
  background-size: auto;

  .card {
    width: 400px;
    height: 400px;
    border-radius: $radius;
    border: 1px solid grey;
  }
}
