@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Variables (according to style-guide)
// --font
$ff-primary: "Kumbh Sans", sans-serif;
$font-size: 18px;
$reg: 400;
$bold: 700;

// --colors
$drk-cyan: hsl(185, 75%, 39%);
$drk-desat-blue: hsl(229, 23%, 23%);
$drk-gray-blue: hsl(227, 10%, 46%);
$drk-gray: hsl(0, 0%, 59%);

// --layout
$mobile: 375px;
$desktop: 1440px;

// --imgs
$bg-dekstop-bottom: url(images/bg-pattern-bottom.svg);
$bg-dekstop-top: url(images/bg-pattern-top.svg);
$bg-card: url(images/bg-pattern-card.svg);
$user-dp: url(images/image-victor.jpg);

$radius: 10px;
// $shadow: ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-primary;
}
